[package]
name = "nebula-materials"
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
serde = { workspace = true }
bytemuck = { workspace = true }
thiserror = { workspace = true }
glam = { workspace = true }
