[package]
name = "nebula-voxel"
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
tracing = "0.1"
rustc-hash = { workspace = true }
